<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362583957904-cauc43n7rcsle8egj3p2j4flmhqfkmfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362583957904-cauc43n7rcsle8egj3p2j4flmhqfkmfs</string>
	<key>API_KEY</key>
	<string>AIzaSyAnrlG8LdnC3XhWEzpe9aGQ1zXrWsoBWQA</string>
	<key>GCM_SENDER_ID</key>
	<string>362583957904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevyTalk</string>
	<key>PROJECT_ID</key>
	<string>devytalk</string>
	<key>STORAGE_BUCKET</key>
	<string>devytalk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362583957904:ios:85160696707cbfff5bd315</string>
	<key>DATABASE_URL</key>
	<string>https://devytalk.firebaseio.com</string>
</dict>
</plist>